extends layout

block content

    #index

    script(src="https://unpkg.com/react@16/umd/react.development.js" crossorigin)
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin)
    script(src="http://code.jquery.com/jquery-3.5.1.js")
    script(src="/javascripts/index.js" type='module')